<div class="links">
    <div class="wrapper">
    <h1>CV, Email, and Links</h1>
    <div class="container">
    <div class="content">
        <div>
            <mat-icon svgIcon="cv"></mat-icon>&emsp;&emsp;&emsp;<a style="color: #F0F8FF" href="../../assets/jinyunsoo.pdf" target="_blank">Curriculum Vitae</a>
            <br><br>
            <br><br>
            <mat-icon svgIcon="email"></mat-icon>&emsp;&emsp;&emsp;jinyunsoo [ at ] gmail [ dot ] com&emsp;&emsp;jinyun.soo13 [ at ] imperial [ dot ] ac [ dot ] uk
            <br><br>
            <br><br>
            <mat-icon svgIcon="linkedin"></mat-icon>&emsp;&emsp;&emsp;<a style="color: #F0F8FF" href="https://linkedin.com/in/jinyunsoo" target="_blank">LinkedIn</a>
        </div>
        <div id="tiny">Designed and coded by yours truly, Jin Yun Soo (a.k.a. Jin). Used <a style="color: #F0F8FF" href="https://angular.io" target="_blank">Angular</a>, 
            Continuous Integration, and <a style="color: #F0F8FF" href="https://azure.microsoft.com" target="_blank">Microsoft Azure</a>.
            <div id="tinier">
                LinkedIn icon made by <a style="color: #B0C4DE" href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> 
                from <a style="color: #B0C4DE" href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> 
                is licensed by <a style="color: #B0C4DE" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
        </div> 
    </div>
    </div>   
    </div>
</div>
