<div class="about">
    <div class="wrapper">
    <h1>About</h1>
    <div class="container" >
    <div class="content">
    <div>
    I am pursuing MEng Electrical and Electronic Engineering at Imperial College London, and will graduate in 2018. <br><br>

    I intend to venture into software engineering or technical consulting. I particularly like being able to engage with users or understand users' workflow in one way or another, and use that as a source of insight and inspiration to develop solutions. <br><br>

    My aspiration is to make a difference, however small it may be, to the world as well as to the people around me.
    </div>
    </div>
    </div>
    </div>
</div>