.projects {
    position: relative;
    background-color: #F0F8FF;
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;
}

.wrapper {
    min-height: 90vh;
}

h1 {
    position: relative;
    top: 8vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #F08080;
    width: 80vw;
    margin: 0 auto;
}

.container {
    position: relative;
    top: 8vh;
    margin-block-end: 8vh;
}

.content {
    position: relative;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}

.content div {
    max-width: 80vw;
    display: inline-block;
    text-align: center;
}

.project {
    position: relative;
    width: 300px;
    height: 250px;
    margin: 20px;
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
}

.project div {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    /*css trick*/
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 15px;
}

.one {
    background-image: url("../../assets/green.png");
    color: #696969;
}

.two {
    background-image: url("../../assets/personal_website.png");
    color: #696969;
}

.three {
    background-image: url("../../assets/embedded.png");
    color: #696969;
}

.four {
    background-image: url("../../assets/stick-it.png");
    color: #696969;
}

.five {
    background-image: url("../../assets/bbg_fix.png");
    color: #696969;
}

.six {
    background-image: url("../../assets/bbg_auto.png");
    color: #FFFFFF;
}