<div class="projects">
    <div class="wrapper">
    <h1>Projects</h1>
    <div class="container">
    <div class="content">
        <div class="project one" [@zoom]="isZoomed1" (mouseover)="zoomIn1()" (mouseleave)="zoomOut1()" (click)="pop1()" alt="Image of Project 1">
            <div>Open Source Contribution to Distributed Systems (pending)</div>
        </div>
        <div class="project two" [@zoom]="isZoomed2" (mouseover)="zoomIn2()" (mouseleave)="zoomOut2()" (click)="pop2()" alt="Image of Project 2">
            <div>Personal Website</div>
        </div>
        <div class="project three" [@zoom]="isZoomed3" (mouseover)="zoomIn3()" (mouseleave)="zoomOut3()" (click)="pop3()" alt="Image of Project 3">
            <div>Embedded System Motor Controller</div>
        </div>
    </div>
    <div class="content">  
        <div class="project four" [@zoom]="isZoomed4" (mouseover)="zoomIn4()" (mouseleave)="zoomOut4()" (click)="pop4()" alt="Image of Project 4">
            <div>Stick-It Pickpocket Prevention Tool</div>
        </div>
        <div class="project five" [@zoom]="isZoomed5" (mouseover)="zoomIn5()" (mouseleave)="zoomOut5()" (click)="pop5()" alt="Image of Project 5">
            <div>Financial Information eXchange (FIX) Message Parser</div>
        </div>
        <div class="project six" [@zoom]="isZoomed6" (mouseover)="zoomIn6()" (mouseleave)="zoomOut6()" (click)="pop6()" alt="Image of Project 6">
            <div>Automation Tool to Generate Weekly Project Status Reports for Clients</div>
        </div>
    </div>
    </div>
    </div>
</div>


