<div class="work">
    <div class="wrapper">
    <h1>Work Experience</h1>
    <div class="container">
    <div class="content">
        <div class="project one" [@zoom]="isZoomed1" (mouseover)="zoomIn1()" (mouseleave)="zoomOut1()" (click)="pop1()" alt="Image of Work Experience 1">
            <div>Schlumberger Abingdon Technology Centre (AbTC)</div>
        </div>
        <div class="project two" [@zoom]="isZoomed2" (mouseover)="zoomIn2()" (mouseleave)="zoomOut2()" (click)="pop2()" alt="Image of Work Experience 2">
            <div>TuringLab, London</div>
        </div>
    </div>
    <div class="content">
        <div class="project three" [@zoom]="isZoomed3" (mouseover)="zoomIn3()" (mouseleave)="zoomOut3()" (click)="pop3()" alt="Image of Work Experience 3">
            <div>Bloomberg LP, London</div>
        </div>  
        <div class="project four" [@zoom]="isZoomed4" (mouseover)="zoomIn4()" (mouseleave)="zoomOut4()" (click)="pop4()" alt="Image of Work Experience 4">
            <div>University Royal Naval Unit (URNU) London</div>
        </div>
    </div>
    </div>
    </div>
</div>


