.banner {
    margin: 0;
    margin-bottom: 0;
}

.hello {
    position: fixed;
    top: 45vh;
    left: 50vw;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #696969;
    margin: 0 auto;
    margin-right: -50vw;
    transform: translate(-50%,-50%);
    z-index: 0;
}

#jin {
    font-weight: 600;
    color: #FF7F50;
}

.light {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #F0F8FF;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.dark {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
}
