<div class="banner">
<div class="hello" [@hello]="showHello">
    Hello, I am <span id="jin">Jin</span>.<br><br>
    en<span id="jin">Jin</span>eering is my tonic
</div>
<div class="light" style="width: 100vw; height: 100vh"> 
    <div parallax speed="2" src="../../assets/clouds_paleturquoise.svg" alt="pale turquoise clouds (for parallax effect)">
    <div parallax speed="1" src="../../assets/clouds_lightsteelblue.svg" alt="light steel blue clouds (for parallax effect)"></div>
    </div>
</div>
<img class="dark" src="../../assets/clouds_steelblue.svg" alt="steel blue clouds (for parallax effect)">
</div>
