<div class="why">
    <div class="wrapper">
    <h1>Why Clouds?</h1>
    <div class="container">
    <div class="content">
    <div>
    The sight of clouds floating in the sky evokes a sense of freedom and boundlessness. And I just want to remind myself not to hold back in self development, character building, and life. <br><br>

    At the time of writing, I am interning with a software engineering team that develops cloud-based services. I also happen to have started to develop an interest in distributed systems/computing. Not the same as cloud computing, but may be related to the cloud (that still counts, right? :P). <br><br>   
    </div>
    </div>
    </div>
    </div>
</div>