<div class="whatsup">
    <div class="wrapper">
    <h1><b>What's Up?</b> (besides the clouds)</h1>
    <div class="container">
    <div class="content">
    <div>
    I am currently undergoing a 6-month software engineering industrial placement at Schlumberger’s Abingdon Technology Centre (AbTC). Schlumberger is an oilfield services provider, and the team I am working with is responsible for building commercial softwares with a focus on digital transformation to cloud-based services.
    <br><br>
    Recently, I passed the interview stage of the Microsoft Student Partners programme, and in the next stage I will be tested on my technical writing skills. Therefore, I am currently doing research to write about the .NET functional programming language called F#. During my previous internship at Bloomberg, I worked with a proprietary visual programming platform that is based on and very similar to F#, thus I am very excited to revisit and further develop my understanding of the realm of functional programming. In fact, I think I should choose a few areas to focus on and develop expertise in them in the long run, and it is probably a good idea to include strong functional programming skills to the list ... 
    </div>
    </div>
    </div>
    </div>
</div>