<div class="whatsup">
    <div class="wrapper">
    <h1><b>What's Up?</b> (besides the clouds)</h1>
    <div class="container">
    <div class="content">
    <div>
    I am currently undergoing a 6-month software engineering industrial placement at Schlumberger’s Abingdon Technology Centre (AbTC). Schlumberger is an oilfield services provider, and the team I am working with is responsible for building commercial softwares with a focus on digital transformation to cloud-based services. 
    After my placement ends at the end of September 2017, I will begin the final year of my MEng degree. I look forward to working on my final year project about accessible tech for the visually impaired.
    <br><br>
   Recently, I was selected as a <a href="https://msdn.microsoft.com/en-us/microsoftstudentpartners.aspx" target="_blank">Microsoft Student Partner</a>. As part of the selection process, I was tested on my technical writing skills. My task was to write an article about getting started with the .NET functional programming language called F# using <a href="http://www.tryfsharp.org" target="_blank">tryfsharp.org</a>; 
   read it <a href="https://blogs.msdn.microsoft.com/uk_faculty_connection/2017/07/18/hands-on-introduction-for-getting-started-with-f-on-the-browser-using-tryfsharp-org/" target="_blank">here</a>!
    <br><br>
    During my previous internship at Bloomberg, I worked with a proprietary visual programming platform that is very similar to F#, and now I would like to revisit and further hone my understanding of the realm of functional programming. In fact, I think I should focus on developing expertise in a few areas in the long run, and it is probably a good idea to include strong functional programming skills to the list … 
    </div>
    </div>
    </div>
    </div>
</div>