.whatsup {
    position: relative;
    left: 0vw;
    background-color: #4682B4;
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;
}

.wrapper {
    min-height: 90vh;
}

.container {
    position: relative;
    top: 15vh;
    margin-block-end: 10vh;
}

h1 {
    position: relative;
    top: 10vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #F08080;
    width: 80vw;
    margin: 0 auto;
}

.content {
    position: relative;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #F0F8FF;
    width: 80vw;
    margin: 0 auto;
}

.content div {
    display: inline-block;
    text-align: justify;
    width: 80vw;
}
