<div class="whatsup">
    <div class="wrapper">
    <h1>What's Up? (besides the clouds)</h1>
        <div class="container">
        <div class="content">
            <div>
            At the end of September 2017, I completed a 6-month software engineering industrial placement at Schlumberger’s Abingdon Technology Centre (AbTC). Schlumberger is an oilfield services provider, 
            and I worked with a team that is responsible for building commercial software solutions for the industry, focusing on UX and digital transformation to cloud applications. 
            <br><br>
            Now begins the final year of my MEng degree. I look forward to working on my final year project; I will be designing accessible tech for the visually impaired in partnership with Microsoft.
            <br><br>
            Recently, I was selected as a <a href="https://msdn.microsoft.com/en-us/microsoftstudentpartners.aspx" target="_blank">Microsoft Student Partner</a>. As part of the selection process, I was tested on my technical writing skills. 
            My task was to write an article about getting started with the .NET functional programming language called F# using <a href="http://www.tryfsharp.org" target="_blank">tryfsharp.org</a>; 
            read it <a href="https://blogs.msdn.microsoft.com/uk_faculty_connection/2017/07/18/hands-on-introduction-for-getting-started-with-f-on-the-browser-using-tryfsharp-org/" target="_blank">here</a>!
            </div>
        </div>
        </div>
    </div>
</div>