<div class="awards">
    <div class="wrapper">
    <h1>Awards, Certs, and Interests</h1>
    <div class="container">
    <div class="content">
    <div>
    <div id="item"><div id="title">Old Centralians' Trust Student Activity Award (Peter Lindsay Award)</div><div id="year">2017</div></div>
    Awarded​ ​to​ ​two​ ​undergraduates​ ​from​ ​each​ ​department​ ​in​ ​the​ ​Faculty​ ​of​ ​Engineering​ ​for​ ​all-round​ ​involvement​ ​in​ ​university​ ​life.
    <br><br>
    <div id="item"><div id="title">BP Women in Science and Engineering Award</div><div id="year">2016</div></div>
    Awarded by BP via the Faculty of Engineering.
    <br><br>
    <div id="item"><div id="title">PADI Open Water SCUBA Diver</div><div id="year">2011</div></div>
    As ironic as it sounds, technically I can SCUBA dive but I cannot swim. In recent years, 
    for reasons unknown I have developed a phobia for being on the surface of the water. 
    Nevertheless, many years ago, I, alongside other fellow young explorers, was sponsored by Mike Horn's programme 
    to join their sailing and marine conservation expedition in Borneo. There, I had the opportunity to learn SCUBA diving.
    <br><br>
    <div id="item"><div id="title">Associate of Trinity College London (ATCL) Diploma in Piano Recital</div><div id="year">2010</div></div>
    I have always felt ambivalent about this diploma. On one hand, I am glad I persevered and passed it during a busy and stressful period. 
    On the other hand, I could play one of the pieces pretty well at some point but lost the momentum later on, 
    and I always felt I could/should have worked harder and scored better. C'est la vie.
    <br><br>
    <div id="item"><div id="title">Hedy King Robinson Award</div><div id="year">2007 and 2008</div></div>
    Two-time winner for excellence in the Theory of Music.
    <br><br>
    <div id="item"><div id="title">MENSA</div></div>
    Full score in IQ test (180/180).
    <br><br>
    Between 2009 - 2012, as a restless schoolgirl, I was somewhat involved in the United Nations Framework Convention on Climate Change (UNFCCC) 
    Youth Constituency (YOUNGO) and also the Malaysian Bar Association’s MyConstitution campaign. 
    I wanted to go outside my comfort zone to learn about the world, talk to people of all ages and backgrounds and from different walks of life, 
    explore imperative issues faced by the community and the world, and have good reasons for not reading my textbooks.
    </div>
    </div>
    </div>
    </div>
</div>