@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.loading {
    position: absolute;
    top: 45vh;
    left: 50vw;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #696969;
    margin: 0 auto;
    margin-right: -50vw;
    transform: translate(-50%,-50%);
}

app-root {
    background-color: #F0F8FF;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}
